
<div class="container">

  <div align="center">
    <img width="20%" height="20%" alt="Angular Logo" src="../assets/proposta1.png">
    <h4>Está nascendo uma nova Fundação para o Software Open Social</h4>
    <p>Aguardem as Novidades!</p>
  </div>

  <div class="card">
    <div class="card-body">
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>
  </div>
  </div>


  <br />
  <h3 align="center">Os 3 Princípios do Suindara</h3>
  <ol class="rounded-list">
    <li>
      <p>
        <b>Primeiro</b><br />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>
    </li>

    <li>
      <p>
        <b>Segundo</b><br />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>
    </li>

    <li>
      <p>
        <b>Terceiro</b><br />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>
    </li>
  </ol>


  <br />
  <h3 align="center">Projetos Criados</h3>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="../../../assets/sharebookLogo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sharebook</h5>
        <p class="card-text">O sharebook é uma plataforma para Doar e Ganhar Livros. Venha conhecer melhor esse projeto!</p>
        <a href="https://sharebook.com.br/" class="btn btn-primary">Acesse Aqui</a>
      </div>
    </div>

</div>
